
#userPage #userHeader{
padding: 1rem;
background:var(--highlight-bg);
border-radius: var(--popup-BR);
}
#userPage #userHeader .pfp{
 border-radius: 100vmax;
 aspect-ratio: 1/1;
 width: 20rem;
 max-width: 30vw;
 object-fit: cover;
    }
    #userPage #userHeader >div{
        width: 100%;
        display: flex;
        gap: 1rem;
        justify-content: space-between;
    }
 #userPage #userHeader.mobile >div{
align-items: center;
    }
    #userPage #userHeader.mobile >div h1{
        padding: 0;
        flex: 1;
        letter-spacing: 0.05rem;
        text-align: start;
        line-height: 1.2;
    }
    #userPage #userHeader.mobile .followCounter h2{
        font-size: 2rem;
    }
    #userPage #userHeader.mobile .followCounter p{
        font-size: 0.8rem;
    }
    #userPage #userHeader >div#userTop{
        margin-bottom: 1rem;
    }
    #userPage #userHeader.mobile >div#userTop{
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    #userPage #userHeader >div#userTop #topLeft{
display: flex;
flex-direction: column;
gap: 1rem;
    }
    #userPage #userHeader >div h1{
        text-align: center;
        font-family: 'logoTXT';
        font-weight: 100;
        padding: 1rem;
        width: fit-content;
        color: #fff;
    }
    #userPage #userHeader >div .buttonActions{
display: flex;
gap: 1rem;
align-items: center;
    }
    #userPage #userHeader.mobile #userBelow #topLeft{
        width: 100%;
    }
    #userPage #userHeader .followCounter{
display: flex;
justify-content: space-around;
text-align: center;
flex: 1;
align-items: center;
padding: 0.5rem 0;
    }
    #userPage #userHeader.mobile >div .buttonActions{
        align-items: stretch;
        padding: 1rem 0;
    }
    #userPage #userHeader.mobile >div .buttonActions button{
        flex: 1;
    }
    #userPage #userHeader .followCounter h2{
        font-family: 'logoTXT';
        letter-spacing: 0.1rem;
        font-size: 3rem;
        color: #fff;
        font-weight: 100;
    }
    #userPage #userHeader .followCounter p{
        color:var(--side-txt);
        font-weight: 600;
        font-size: 1.1rem;
    }

    #userPage .tabSwitcher{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        align-items: center;
        justify-items: center;
        margin-bottom: 1rem;
    }
    #userPage .tabSwitcher label{
        padding: 0.9rem;
        display: block;
        font-size: 1.15rem;
        cursor: pointer;
        transition: all 100ms;
        border-bottom: 0px solid var(--spotlight-color);
        text-align: center;
    }
    #userPage .tabSwitcher input{
        position: absolute;
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
    }
    #userPage .tabSwitcher > div:has(input:checked) label{
        border-bottom-width: 2px;
        color: #fff;
    }

    #userPage .tabSwitcher > div label:hover{
        color: #fff;
    }

    #userPage .userCarousel .mainTabBox{
        margin: auto;
        width: min(500px, 100%);
        padding: 4rem 1rem;
        text-align: center;
        font-size: 1.6rem;
        color: #fff;
    }

    #userPage .userCarousel .mainTabBox svg{
        height: 6rem;
        width: 6rem;
        margin-bottom: 1rem;
    }
