:root{
  --bg-color:0,0,0;
  --quickTransition:200ms;
  --longTransition:500ms;
  --spotlight-color:rgb(0, 149, 246);
  --light-color:#b1c1d3;
  --poupup-bg: radial-gradient(#f3f3f3,#f6f6f6);
  --general-input-color: rgb(54, 54, 54);
  --border-edge: 2px solid var(--general-input-color);
  --popup-BR: 15px;
  --small-BR: 4px;
  --button-BR:8px;
  --simple-shadow: 0px 4px 13px #0000002b;
  --attention-icon: red;
  --side-txt: #ffffffad;
  --highlight-bg:#232323;
  --semi-transparent-bg: #fbfbfdcc;
  --sub-transparent-bg: #fbfbfdf2;
  --hover-light-bg: rgb(255 255 255 / 16%);
  --nav-width:50px;
  --row-width:900px;
  --row-max-width:min(100%, var(--row-width));
  --link-color:#68bff9;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(var(--bg-color));
}
@font-face {
  font-family: 'logoTXT';
  src: url('@/fonts/logoText.otf') format("opentype");
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0s !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
  :root{
  --quickTransition:0ms !important;
  --longTransition:0ms !important;
  }
} 
/* not using vertical nav 
html {
  scroll-padding-top: var(--nav-height);
} */

body{
  min-height: 100vh !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overscroll-behavior-x: none;
    top: 0 !important;
}
#root{
min-height: 100%;
}
main{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}



::selection {
  color: #fff;
  background: #1c65ad;
}

a:focus-visible{
  outline: 2.5px dashed #ffffff;
  outline-offset: 2.5px;
}



*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: sans-serif;
}

 h1, h2, h3, h4, h5, h6 {
  color: #edecec;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}


body{
  background-color: var(--body-color);
  margin: 0;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.padBox{
  padding: 0 10px;
}
.row{
  max-width: var(--row-max-width);
}
.center-row{
  max-width: var(--row-max-width);
  margin: 0 auto;
}
.forced-center-row{
  width: var(--row-max-width);
  margin: 0 auto;
}
a{
  color: var(--link-color);
  text-decoration: none;
}


.mainButton{
  background-color: var(--spotlight-color);
  border: none;
  border-radius: var(--button-BR);
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: .95rem;
  font-weight: 700;
  letter-spacing: 0.03rem;
  outline: none;
  padding: 11px 13px;
  position: relative;
  text-decoration: none;
  transition: all .17s ease;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 1;
}

.blueButton{
    background-color: var(--spotlight-color);
    border: none;
    border-radius: var(--button-BR);
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: .9rem;
    font-weight: 600;
    outline: none;
    padding: 8px 13px;
    position: relative;
    text-decoration: none;
    transition: all .17s ease;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    z-index: 1;
}
.blueButton.center,.secondaryButton.center, .row.center{
  margin-left: auto;
  margin-right: auto;
}
.blueButton.center-vert,.secondaryButton.center-vert, .row.center-vert{
  margin-top: auto;
  margin-bottom: auto;
}

.secondaryButton{
  display: block;
  width: fit-content;
  padding: 8px 15px;
  background: none;
  font-size: 0.85rem;
  line-height: 0.85rem;
  color: #fff;
  font-weight: 600;
  border-radius: var(--button-BR);
  cursor: pointer;
  z-index: 1;
  position: relative;
  outline: none;
  border: var(--spotlight-color) solid 3px;
  transition: all .17s ease;
  text-decoration: none;
  font-family: sans-serif;
}
.secondaryButton.inner-white{
  color: rgb(255, 255, 255);
}

.blueButton.full, .secondaryButton.full{
  width: 100%;
}
.blueButton:focus-visible,.mainButton:focus-visible, .secondaryButton:focus-visible{
  outline: 2.5px dashed #ffffff;
    outline-offset: 2.5px;
}
.blueButton:active,.mainButton:active, .secondaryButton:active{
  opacity: 0.7 !important;
  transition: all 160ms !important;
}
.blueButton:disabled, .blueButton[disabled], .secondaryButton:disabled, .secondaryButton[disabled]{
  filter: brightness(0.9) !important;
    opacity: 0.7 !important;
    cursor: progress !important;
}
.loadButton{
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadButton[disabled],.loadButton:disabled{
  color: transparent;
}

.actionable{
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: var(--button-BR);
  transition: background-color var(--quickTransition);
}
.actionable:hover, .actionable:focus-visible{
background: var(--hover-light-bg);
outline: none;
}

.warning-note{display: flow-root;position:relative;padding:20px 30px 20px 50px;    -webkit-box-shadow: 1px 2px 10px 0px rgb(0 0 0 / 15%);
  box-shadow: 1px 2px 10px 0px rgb(0 0 0 / 15%);margin: 20px 0;
  background-color: #ff000040;color:#01579b;font-size:1rem;line-height:1.62em;border-radius:15px; color: #fff;}
.warning-note h3{
font-size: 22px;
font-weight: 800;
margin-top:0 !important;
margin-bottom: 8px !important;
}
.warning-note p{   
margin: 0 !important;
font-weight: 700;
}
.warning-note:before{
  content:'\f071';
  font-family:'FontAwesome';
  position:absolute;
  left:18px;
  font-size:22px
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  /* background-color: var(--main-bg); */
 } 
 ::-webkit-scrollbar-track {
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #323232;
  cursor:pointer
} 
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(255 255 255 / 25%);
} 


.circleLoader{
  position:relative;
  height:100px;
  min-width:100px;
  overflow:hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  display: block;
}
.circleLoader:after{
  content:'';
  position:absolute;
  top:50%;
  left:50%;
  width:60px;
  height:60px;
  margin:-30px 0 0 -30px;
  border:3.5px solid #1e59f1;
  border-right-color:rgba(155,155,155,0.2);
  border-radius:100%;
  animation:spinner 1.1s infinite linear;
  transform-origin:center
}
@-webkit-keyframes spinner {
   0%{
      -webkit-transform:rotate(0deg);
      transform:rotate(0deg)
  }
   to{
      -webkit-transform:rotate(1turn);
      transform:rotate(1turn)
  }
}
@keyframes spinner {
   0%{
      -webkit-transform:rotate(0deg);
      transform:rotate(0deg)
  }
   to{
      -webkit-transform:rotate(1turn);
      transform:rotate(1turn)
  }
}

/* Translation code */


#translation-area{
  width: max-content;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-items: stretch;
  gap: 10px;
  padding: 10px;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  max-width: min(calc(100% - 20px), 650px);
  background: var(--highlight-bg);
  border-radius: var(--popup-BR);
  z-index: 10;
  box-shadow: 0 3px 20px 1px rgb(0 0 0 / 56%);
  border: 1px solid #4d4d4d;
 }
 #translation-area.loading > *{
opacity: 0; 
}
#translation-area > .circleLoader{
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-height: 100%;
    max-width: 70%;
}
#translation-area #translationEndButton{
flex: 1;
}
#translation-area.loading > .circleLoader{
  opacity: 1 !important;
}
 #translation-area.show{
display: flex;
}
#translation-area > .translationTop {
  display: flex;
  gap: 2.5rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0.3rem;
}
#translation-area > .translationTop p{
  text-align: end;
}
#translation-area > .translationTop img{
  height: 2ch;
  vertical-align: bottom;
}
 #translation-area > .translationTop > h1{
  font-size: 1rem;
  color: #fff;
 }
 #translation-area #google_translate_element{
  flex: 1;
  flex-basis: 30%;
  min-width: min(100%, 200px);
  overflow: hidden;
  filter: drop-shadow(0px 5px 10px #00000080);
 }
 .fixed-con {
  z-index: 9724790009779558!important;
  background-color: #f7f8fc;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
 }
 .VIpgJd-ZVi9od-aZ2wEe-wOHMyf{
 z-index: 9724790009779!important;
 top:0;
 left:unset;
 right:-5px;
 display:none!important;
 border-radius:50%;
 border:2px solid gold;
 }
 .VIpgJd-ZVi9od-aZ2wEe-OiiCO{
  width:80px;
  height:80px;
 }
 #google_translate_element select{
  width: 100%;
  height: 100%;
  min-height: 40px;
  height: calc(100% - 18px);
  outline: none;
  padding: 0 20px;
  font-size: 18px;
  color: #fff;
  border-radius: 10px;
  border: var(--border-edge);
  background: var(--highlight-bg);
  transition: all 0.4s ease;
  margin: auto 0 !important;
 }
 .goog-logo-link{
  display:none !important;
 }
 .goog-te-gadget{
 color:transparent!important;
 font-size: 0 !important;
 height: 100%;
 }
 .VIpgJd-ZVi9od-l4eHX-hSRGPd{
 display:none !important;
 }
 #goog-gt-tt, .goog-te-balloon-frame
 {
 display: none !important;
 }
 .goog-text-highlight 
 { 
 background: none !important;
 box-shadow: none !important;
 }
 .goog-tooltip {
 display: none !important;
 }
 .goog-tooltip:hover {
 display: none !important;
 }
 .VIpgJd-yAWNEb-VIpgJd-fmcmS-sn54Q {
 background-color: transparent !important;
 border: none !important;
 box-shadow: none !important;
 }
 .VIpgJd-ZVi9od-ORHb,.VIpgJd-ZVi9od-ORHb-OEVmcd{
 display: none !important;
 }
 #translation-toggle{
  display: flex !important;
  background: #1e59f1;
  padding: 3px 9px;
  cursor: pointer;
  font-weight: 600;
  line-height: 22px;
  transition: all 0.4s ease;
  z-index: 2;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  color: #fff;
 }
 #translation-toggle.enabled{
border: 2px solid red;
background: none;
 }
 .goog-te-gadget > div{
 height:100%;
 display:flex;
 }
 #translation-toggle span {
  margin: auto 0;
 }