#feed{
    width: min(100%, 45vh);
    margin: 0 auto;
    box-sizing: content-box;
    padding-inline: 0;
}

#feed #logoTop h1{
text-align: center;
width: 100%;
font-family: 'logoTXT';
font-weight: 100;
}
#feed #logoTop h1 img{
    height: 2ch;
    vertical-align:bottom;
}

#feed #logoTop{
    border-bottom: var(--border-edge);
    margin-bottom: 0.5rem;
    padding: 0.7rem 1rem 0.6rem;
}

#feed .postRoller .post{
    margin-bottom: 2.5rem;
}
#feed .postRoller .post img{
    width: 100%;
    max-height: 45vh;
    object-fit: contain;
    display: block;
}
#feed .postRoller.mobileView .post .infoArea{
padding: 0 0.7rem;
}
#feed .postRoller .post .infoArea .actionArea .userName{
display: block;
font-weight: 600;
font-size: 1.08rem;
padding: 0.5rem 0;
text-decoration: none;
}
#feed .postRoller .post .infoArea .actionArea h1.userName{
    font-size: 1.2rem;
}

#feed .postRoller .post .infoArea .actionArea{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
#feed .postRoller .post .infoArea .actionArea > div{
    display: flex

}
#feed .postRoller .post .infoArea .actionArea > div > button,
#feed .postRoller .post .infoArea .actionArea > div div.optionsArea > button {
    background: none;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    color: #fff;
}
#feed .postRoller .post .infoArea .actionArea  .postOptionMenu{
position: absolute;
top: 100%;
right: 0;
box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
border: 1px solid #4d4d4d;
background-color: #323232;
border-radius: var(--button-BR);
max-width: 100%;
overflow: hidden;
z-index: 3;
}
#feed .postRoller .post .infoArea .actionArea  .postOptionMenu >div{
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
#feed .postRoller .post .infoArea .actionArea  .postOptionMenu >div>button{
    display: block;
    width: 100%;
    border: none;
    background: none;
    color: #fff;
    text-align: start;
    padding: 0.5rem;
    border-radius: calc(var(--button-BR) - 0.2rem);
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    transition: all var(--quickTransition);
}
#feed .postRoller .post .infoArea .actionArea  .postOptionMenu >div>button:focus-visible,
#feed .postRoller .post .infoArea .actionArea  .postOptionMenu >div>button:hover{
    background: var(--hover-light-bg);
}

#feed .postRoller .post .infoArea .actionArea > div > button svg{
    color: #fff;
    height: 1.6rem;
    width: 1.6rem;
}


#feed .postRoller .post .infoArea .notice{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem;
    background-color: var(--hover-light-bg);
    font-size: 1.05rem;
    gap: 1rem;
    border-radius: var(--button-BR);
    margin: 0 -0.55rem;
}